config setup

ca mkii
    cacert=/etc/ipsec.d/ca.crt
    auto=add

conn %default
    ike = aes256-sha2_256-modp2048!
    esp = aes256-sha2_256!
    ikelifetime=60m
    keylife=20m
    rekeymargin=3m
    keyingtries=1
    keyexchange=ike
    left={{ inventory_hostname }}
    leftid="C=US, ST=Ohio, L=Cincinnati, O=University of Cincinnati, OU=UC Robotics Team, CN={{ inventory_hostname }}"
    leftcert=/etc/ipsec.d/client.crt
    leftsubnet={{ ipsec_subnet }}
    auto=route
    leftauth=pubkey
    rightauth=pubkey

{% for client in play_hosts %}
{% if client != inventory_hostname %}
conn {{ inventory_hostname }}-{{ client }}
    right={{ client }}
    rightid="C=US, ST=Ohio, L=Cincinnati, O=University of Cincinnati, OU=UC Robotics Team, CN={{ client }}"
    rightsubnet={{ hostvars[client].ipsec_subnet }} 

{% endif %}
{% endfor %}
