server=1.1.1.1
server=9.9.9.9

local=/mkii/
domain=mkii
interface={{ dhcp_interface }}
bind-interfaces

no-hosts
address=/ucnuc0/ucnuc0.mkii/192.168.12.20

dhcp-option=3,{{ default_gateway }}
dhcp-option=6,{{ dhcp_server }}
dhcp-range={{ dhcp_range_low }},{{ dhcp_range_high }},12h
dhcp-authoritative

{% for client in groups['dhcp'] %}
dhcp-host={{ hostvars[client]['mac-addr'] }},{{ hostvars[client]['ip-addr'] }}
{% endfor %}


