{% if inventory_hostname == "ucnuc0.mkii" %}
pool pool.ntp.org iburst offline
driftfile /var/lib/chrony/drift
smoothtime 400 0.01
local stratum 8
{% else %}
server ucnuc0.mkii burst
makestep 1.0 -1
{% endif %}
allow 192.168.12.0/23
rtcsync

